@import "theme/default.css";
@import "theme/dark.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html .color-primary {
        color: var(--color-primary);
    }
    .color-secondary {
        color: var(--color-secondary);
    }
    .theme-border-main {
        border-color: var(--color-border);
    }
    .theme-border-light {
        border-color: var(--color-border-light);
    }
    .theme-text-main {
        color: var(--color-text-main);
    }
    .theme-text-secondary {
        color: var(--color-text-secondary);
    }

    .color-message-bg-ai {
        background-color: var(--color-message-bg-ai);
    }
    .color-message-bg-my {
        background-color: var(--color-message-bg-my);
    }
    .color-message-ai {
        color: var(--color-message-ai);
    }
    .color-message-my {
        color: var(--color-message-my);
    }
    .theme-rounded-base {
        border-radius: var(--rounded-base);
    }
    .theme-rounded-lg {
        border-radius: var(--rounded-lg);
    }
    .theme-rounded-sm {
        border-radius: var(--rounded-sm);
    }
    .text-on-primary {
        color: var(--color-text-on-primary);
    }
    .theme-text-placeholder {
        color: var(--color-text-placeholder);
    }

    html .bg-destructive {
        @apply bg-red-500 border-red-600 text-white theme-rounded-base;
    }

    html .bg-primary {
        background-color: var(--color-primary);
    }

    html .bg-background {
        background-color: var(--color-bg);
    }
    html .bg-popover {
        background-color: var(--color-bg-popover);
    }

    .theme-btn-default-bg,
    html .bg-background.theme-btn-default-bg {
        background-color: var(--color-btn-default-bg);
    }

    .theme-btn-default-bg2 {
        background-color: var(--color-btn-default-bg2);
    }

    .theme-text-secondary {
        color: var(--color-text-secondary);
    }

    html .theme-select-item {
        @apply cursor-pointer;
        &:focus {
            background-color: var(--main-menu-item-bg-hover);
        }
    }

    .main-menu .main-menu-item.active {
        color: var(--color-primary);
        .icon {
            color: var(--color-primary);
        }
    }
}

.scrollbar-thumb {
    @apply bg-gray-400;
}
.scrollbar-track {
    @apply bg-gray-200;
}
.scrollbar-thumb-rounded-base {
    @apply rounded-full;
}

.scroll-base {
    @apply scrollbar-thin scrollbar-thumb scrollbar-track scrollbar-thumb-rounded-base;
}

body {
    @apply theme-text-main;
}
.layout-main {
    @apply grid grid-cols-1 sm:grid-cols-main;
    height: 100vh;
    background-color: var(--bg-main);
    .layout-left {
        @apply border-r theme-border-main hidden sm:block;
        background-color: var(--bg-sider);
    }
    .chatbox-wrapper .title {
        @apply pl-0;
    }
    .layout-right {
        z-index: 1;
        /* height: calc(100vh - 3.5rem); */
        /* padding: 3.5rem 0 0 0; */
    }
}

@media screen and (min-width: 640px) {
    .layout-main {
        .layout-right {
            @apply p-0;
        }
    }
    .chatbox-wrapper {
        .message-box {
            height: auto;
        }
    }
}

.sider {
    @apply flex flex-col justify-between h-screen pb-8 bg-black/70;
}

.text-logo {
    color: var(--color-primary);
}

.main-menu {
    @apply flex flex-col py-2 px-2;
    .main-menu-item {
        @apply flex justify-between items-center px-4 py-1.5 cursor-pointer theme-rounded-base mb-0.5;
        background-color: var(--main-menu-item-bg);
        color: var(--main-menu-item-text);
        &:hover {
            background-color: var(--main-menu-item-bg-hover);
        }
        .icon {
            @apply w-5 h-5 mr-2 opacity-75;
        }
        .text {
            @apply flex-grow text-base;
        }
    }
}

.sub-menu {
    @apply flex flex-col gap-1;
    .sub-menu-item {
        @apply flex justify-between items-center px-4 py-1 hover:bg-gray-100 cursor-pointer;
        .icon {
            @apply w-5 h-5 mr-2;
        }
        .text {
            @apply flex-grow text-base;
        }
    }
}

.border-input {
    @apply theme-border-light;
}

.logo-wrapper {
    @apply h-16 flex justify-start items-center;
}
.logo {
    @apply px-4 text-2xl font-bold;
}

.block-chat-input {
    @apply flex w-full p-4 min-h-28 relative;
    background-color: var(--bg-main);
    .input-w {
        @apply flex-grow flex mb-4 pl-1;
    }
    .input {
        @apply flex-grow focus:outline-none bg-transparent;
    }
    .chat-input-content {
        @apply flex-grow mr-4;
    }
}
.hkey-intro {
    @apply text-xs items-center flex justify-start gap-2 absolute bottom-4 hidden md:block;
}
.hkey {
    @apply theme-btn-default-bg py-1 px-2  border theme-border-light theme-rounded-sm;
}

.theme-scroll {
    @apply scrollbar-thin;
    --scrollbar-thumb: var(--color-scroll-thumb) !important;
    --scrollbar-track: var(--color-scroll-track) !important;
}

.chatbox-wrapper {
    @apply flex justify-between flex-col flex-grow mx-auto rounded-none overflow-hidden relative z-10 md:h-screen;
    .bottom {
        @apply w-full border-t theme-border-main fixed bottom-0 sm:static;
    }
    .message-box {
        @apply flex-grow w-full overflow-y-auto theme-scroll overflow-x-hidden;
        height: calc(100vh - 15rem);
    }
    .input {
        resize: none;
    }
    .title {
        @apply flex justify-between items-center px-4 h-16 border-b flex-shrink-0 theme-border-main;
        h1 {
            @apply text-xl font-bold;
        }
    }
}

.max-right-page-1 {
    @apply max-w-5xl;
}

.message-list {
    @apply flex flex-col max-right-page-1 mx-auto px-4 md:px-2;
    .username {
        @apply mb-1 text-sm;
    }
}
.message-list .prose {
    @apply rounded-lg px-3 py-2 text-[15px];
}
.message-list .my-msg {
    @apply justify-end self-end;
    .username {
        @apply text-end;
    }
    .prose {
        background-color: var(--color-message-bg-my);
        color: var(--color-message-my);
        border-radius: var(--rounded-message);
    }
}
.message-list .ai-msg {
    @apply justify-start;
    .prose {
        background-color: var(--color-message-bg-ai);
        color: var(--color-message-ai);
        border-radius: var(--rounded-message);
    }
}

.message-one {
    @apply flex justify-between py-4 text-base max-w-full sm:max-w-2xl;
    .ct {
        @apply flex-grow text-base;
    }
    .username {
        @apply text-primary;
    }
    .mine {
        @apply text-secondary;
    }
    pre pre {
        @apply bg-gray-300 p-4 my-4;
    }
    p,
    pre,
    blockquote {
        max-width: 90vw;
        overflow: auto;
    }
    blockquote {
        color: var(--color-text-secondary);
    }
}

.block-writing {
    @apply flex items-center gap-2 justify-center my-6 text-gray-400 rounded-lg px-4 py-2 w-48 mx-auto;
    .icon {
        @apply opacity-35;
    }
}

.clean-btn {
    @apply theme-btn-default-bg2 theme-rounded-base px-4 py-2 flex justify-start items-center gap-2 cursor-pointer font-bold;
    .icon {
        @apply w-5 h-5;
    }
    .text {
        @apply text-sm capitalize;
    }
}

.block-theme-select {
    @apply mx-4;
}

.theme-select-trigger {
    @apply flex items-center gap-2 cursor-pointer px-2;
    .icon {
        @apply w-5 h-5;
    }
}

.setting-bar {
    @apply flex justify-start gap-4 items-center px-4 h-16 border-b theme-border-main;
    background-color: var(--bg-main);
}

.block-translate-select {
    @apply flex justify-start items-center;
}

.translate-icon {
    @apply w-5 h-5 mx-2 theme-text-secondary;
}

.bg-menu-hover {
    @apply bg-gray-100;
}

.theme-input {
    @apply flex h-10 w-full theme-rounded-base border border-input bg-background px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-muted-foreground focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
}
.theme-input.large-input {
    @apply h-16 text-xl px-6;
    &::placeholder {
        @apply theme-text-placeholder;
    }
}

/*回答格式*/
.prose :where(ol > li):not(:where([class~="not-prose"], [class~="not-prose"] *))::marker {
    color: rgba(255, 255, 255, 0.5);
}
.message-one blockquote {
    border-left: 0.25rem solid var(--color-primary);
    color: var(--color-text-on-primary);
}

.prose :where(pre):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
    background-color: var(--color-code-bg);
}

.chat-search-middle {
    @apply grid;
    grid-template-columns: auto 350px;
    height: calc(100vh - 3.5rem);
}
.organic-list {
    @apply p-4 overflow-y-auto theme-scroll;
    height: calc(100vh - 3.5rem);
}
.organic-one {
    @apply p-4 theme-rounded-base bg-background mb-4 py-4 cursor-pointer flex flex-col;
    .organic-title {
        @apply text-base font-bold theme-text-main;
    }
    .organic-desc {
        @apply text-sm theme-text-secondary;
    }
}

.block-steps {
    @apply flex justify-start items-center gap-4 bg-background p-4 theme-rounded-base;
    .step-one {
        @apply flex justify-center items-center font-bold capitalize;
        p {
            @apply text-sm font-bold mx-4;
        }
    }
    .icon {
        @apply w-8 h-8 mr-2;
    }
    .arrow-icon {
        @apply w-6 h-6 opacity-40;
    }
    .step-one.done {
        .icon {
            @apply color-primary;
        }
        @apply color-primary;
    }
    .step-one.active {
        .icon {
            @apply text-yellow-400;
        }
        @apply text-yellow-400;
    }
}

.chat-search-chat {
    @apply p-4;
}

.block-box {
    @apply p-4 theme-rounded-base bg-background mt-4;
}

.search-result-item {
    @apply flex justify-between items-center pb-4 mb-4 border-b theme-border-main;
    &:last-child {
        @apply pb-0 mb-0 border-0;
    }
}

.form-control .label {
    @apply text-sm font-bold flex flex-col justify-start mb-2;
}

.theme-modal-bg {
    background-color: var(--color-modal-bg);
}
.layout-main {
    overflow: hidden;
    background: none;
    backdrop-filter: blur(40px);
    background-color: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.35);
    @apply max-w-screen-2xl mx-auto md:my-[20px] rounded-none md:rounded-[1rem];
}

.main-menu .main-menu-item.active {
    background-color: rgba(255, 255, 255, 0.1);
    color: #fff;
}
.main-menu .main-menu-item.active .icon,
.text-logo {
    color: #fff;
}
.main-menu-item {
    @apply font-roboto-condensed;
}
textarea::placeholder {
    color: var(--color-text-placeholder);
}
.layout-main,
.chatbox-wrapper,
.sider {
    height: var(--js-page-height);
}

@media screen and (min-width: 640px) {
    .layout-main,
    .chatbox-wrapper,
    .sider {
        height: var(--page-height);
    }
    .sider {
        background-color: var(--bg-sider);
    }
}
