.theme-dark {
    --color-primary: #14b24b;
    --color-secondary: #34495e;

    --bg-main: rgba(0, 0, 0, 0.1);
    --bg-sider: none;

    --color-bg: rgba(0, 0, 0, 0.1);
    --color-bg-popover: #333;

    --color-modal-bg: #555;

    --color-btn-default-bg: rgba(0, 0, 0, 0.1);
    --color-btn-default-bg2: rgba(0, 0, 0, 0.1);

    --color-text-on-primary: #fff;
    --color-text-on-secondary: #fff;

    --color-border: rgba(255, 255, 255, 0.2);
    --color-border-light: rgba(255, 255, 255, 0.2);

    --color-text-main: #fff;
    --color-text-secondary: #999;
    --color-text-placeholder: #aaa;

    --color-message-bg-ai: #2a5285;
    --color-message-bg-my: #484848;

    --color-message-ai: #fff;
    --color-message-my: #fff;

    --color-code-bg: #333;

    --color-scroll-track: rgba(0, 0, 0, 0.1);
    --color-scroll-thumb: rgba(255, 255, 255, 0.6);

    --main-menu-item-bg: none;
    --main-menu-item-bg-hover: rgba(255, 255, 255, 0.1);

    --rounded-message: 1rem;

    --rounded-base: 0.5rem;
    --rounded-lg: 0.5rem;
    --rounded-sm: 0.125rem;

    --page-height: calc(100vh - 40px);

    body {
        background-color: #111;
        background-image: url("https://images.unsplash.com/photo-1576156650634-9cf0b09391ca?q=80&w=1752&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-image: url("https://images.unsplash.com/photo-1467226632440-65f0b4957563?q=80&w=1987&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: cover;
    }

    .theme-modal-bg {
        background-color: var(--color-modal-bg);
    }
    .layout-main {
        height: var(--page-height);
        border-radius: 16px;
        margin: 20px;
        @apply max-w-screen-2xl mx-auto;
        overflow: hidden;
        background: none;
        backdrop-filter: blur(40px);
        background-color: rgba(0, 0, 0, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.2);
        .chatbox-wrapper,
        .sider {
            height: var(--page-height);
        }
    }

    .main-menu .main-menu-item.active {
        background-color: rgba(255, 255, 255, 0.1);
        color: #fff;
    }
    .main-menu .main-menu-item.active .icon,
    .text-logo {
        color: #fff;
    }

    .main-menu-item {
        @apply font-roboto-condensed;
    }
}
